---
---

// @import "ap-components.min.scss";
// @import "config.scss";
//@import "scss/_mobile-nav.scss";
// @import "_sass/navigation.scss";


// Base Styles

body {
  min-height: 100%;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Mixins

// @mixin border-radius($radius) {
//   -webkit-border-radius: $radius;
//      -moz-border-radius: $radius;
//       -ms-border-radius: $radius;
//           border-radius: $radius;
// }
//
// // Typography
//
// .ap-container {
//   h1 {
//     font-size: 36px;
//     font-weight: $font-weight-bold;
//   }
//   h2 {
//     font-size: 32px;
//     font-weight: $font-weight-bold;
//   }
//
//   h3 {
//     font-size: 18px;
//     font-weight: $font-weight-bold;
//   }
//
//   h4 {
//     font-size: 18px;
//     font-weight: $font-weight-medium;
//   }
//
//   p {
//     color: $color-text-systemml;
//   }
//
//   ul {
//     list-style: none;
//     padding: 0;
//     margin: 0;
//   }
//
//   pre {
//     padding: 1em;
//     background: #f9f9fb;
//     border: 1px solid #e0e0e0;
//     margin: 1em 0;
//   }
//
//   .text-center {
//     text-align: center;
//   }
//
//   a {
//     color: $color-systemml-accent;
//     -moz-transition: all 0.2s ease-in-out;
//     -webkit-transition: all 0.2s ease-in-out;
//     transition: all 0.2s ease-in-out;
//     &:hover {
//       color: $color-systemml-accent-dark;
//     }
//   }
//
//   .button-primary {
//     color: #fff;
//     background: $color-systemml-accent;
//     border-color: $color-systemml-accent;
//     @include border-radius(3px);
//     &:hover {
//       background: $color-systemml-accent-dark;
//       border-color: $color-systemml-accent-dark;
//     }
//   }
// }
//
// //Site header
//
// .site-header {
//   width: 100%;
//   position: fixed;
//   z-index: 100;
//   display: flex;
//   justify-content: space-between;
//   flex-direction: column;
//   align-items: center;
//   padding: 0 20px;
//   background: rgba(0,0,0,.9);
//   @media (min-width: $bp-medium) {
//     flex-direction: row;
//     position: absolute;
//     background: transparent;
//     &.sticky {
//       position: fixed;
//       left: 0;
//       top: -80px;
//       background: rgba(0,0,0,.9);
//     }
//   }
//   .logo {
//     font-size: 20px;
//     font-weight: $font-weight-medium;
//     line-height: 1;
//     margin: 30px 0 10px 0;
//     @media (min-width: $bp-medium) {
//       margin: 0;
//     }
//     .logo-mark {
//       display: inline-block;
//       height: 29px;
//       width: 30px;
//       background: transparent url(../img/systemml-logo.svg) 0 0 no-repeat;
//       margin-right: 10px;
//     }
//     a {
//       color: #fff;
//       display: flex;
//       align-items: center;
//       &:visited {
//         color: #fff;
//       }
//     }
//   }
// }
//
// // Icons
//
// .icon {
//   position: relative;
// 	display: inline-block;
// 	text-indent: 0;
// 	line-height: 1;
// 	background-size: 100%;
//   background-position: center;
// 	background-repeat: no-repeat;
//   &.icon-chevron-down {
// 		background-image: none, url('../img/icon-chevron-down.svg');
//     background-size: 11px 6px;
//     width: 11px; height: 6px;
// 	}
// 	&.play-button {
// 		background-image: none, url('../img/play-button.svg');
//     background-size: 34px 34px;
//     width: 34px; height: 34px;
// 	}
//   &.icon-data {
// 		background-image: none, url('../img/icon-data.svg');
//     background-size: 45px 20.25px;
//     width: 45px; height: 45px;
// 	}
//   &.icon-code {
// 		background-image: none, url('../img/icon-code.svg');
//     background-size: 45px 23px;
//     width: 45px; height: 45px;
// 	}
//   &.icon-math {
// 		background-image: none, url('../img/icon-math.svg');
//     background-size: 45px 45px;
//     width: 45px; height: 45px;
// 	}
//   &.icon-close {
// 		background-image: none, url('../img/icon-close.svg');
//     background-size: 24px 24px;
//     width: 24px; height: 24px;
// 	}
//   // Partner Logos
//   &.spark-logo {
// 		background-image: none, url('../img/spark-logo.png');
//     background-size: 70px 45px;
//     width: 70px; height: 55px;
// 	}
//   &.hadoop-logo {
// 		background-image: none, url('../img/hadoop-logo.png');
//     background-size: 60px 45px;
//     width: 60px; height: 55px;
// 	}
//   &.jupyter-logo {
// 		background-image: none, url('../img/jupyter-logo.png');
//     background-size: 51px 55px;
//     width: 51px; height: 55px;
// 	}
//   &.zeppelin-logo {
// 		background-image: none, url('../img/zeppelin-logo.png');
//     background-size: 58px 35px;
//     width: 58px; height: 55px;
// 	}
//   &.dsx-logo {
// 		background-image: none, url('../img/dsx-logo.png');
//     background-size: 64px 27px;
//     width: 64px; height: 55px;
// 	}
//   &.python-logo {
// 		background-image: none, url('../img/python-logo-generic.svg');
//     background-size: 64px 27px;
//     width: 64px; height: 55px;
// 	}
//   &.r-logo {
// 		background-image: none, url('../img/r-logo.svg');
//     background-size: 64px 27px;
//     width: 64px; height: 55px;
// 	}
//   &.icon-announcement {
// 		background-image: none, url('../img/icon-announcment.svg');
//     background-size: 60px 40px;
//     width: 60px; height: 40px;
// 	}
// }
//
// // Layout
//
// .content-container {
//   max-width: 860px;
//   margin: 50px auto;
//   padding: 0 20px;
// }
//
// .content-group {
//   text-align: center;
//   display: flex;
//   justify-content: space-between;
//   flex-direction: column;
//   align-items: center;
//   .icon-announcement {
//     margin: 0 20px 0 0;
//   }
//   @media (min-width: $bp-medium) {
//     text-align: left;
//     flex-direction: row;
//   }
//   .wrap {
//     display: block;
//   }
//   .content-text {
//     @media (min-width: $bp-medium) {
//       width: 50%;
//       &.elevator-text {
//         width: 60%;
//       }
//     }
//   }
//   img {
//     width: 300px;
//     height: 300px;
//   }
//   &.elevator-group {
//     margin-top: 50px;
//     img {
//       width: 250px;
//       height: 250px;
//     }
//   }
// }
//
// .elevator-text p {
//   font-size: 18px;
// }
//
// // Hero Banners
//
// .hero-banner {
//   color: #fff;
//   position: relative;
//   top: 115px;
//   @media (min-width: $bp-medium) {
//     top: 0;
//   }
//   &.hero-home, &.hero-about {
//     position: relative;
//     min-height: 300px;
//     background: transparent url(../img/hero-home.jpg) 0 0 no-repeat;
//     background-size: cover;
//     overflow: hidden;
//     @media (min-width: $bp-medium) {
//       min-height: 500px;
//     }
//     &.hero-about {
//       background: #1D3649 url(../img/hero-about.svg) center bottom no-repeat;
//       background-size: cover;
//     }
//   }
//   .banner-overlay {
//     position: absolute;
//     top: 0;
//     z-index: 50;
//     width: 100%;
//     height: 100%;
//     background: rgba(21,41,53,.5);
//   }
//   .banner-content {
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     h1 {
//       line-height: 1;
//     }
//     p {
//       font-size: 18px;
//       text-align: center;
//     }
//     .video-link {
//       color: #fff;
//       font-weight: $font-weight-medium;
//       display: flex;
//       align-items: center;
//       border: 0;
//       &:hover {
//         color: $color-text-systemml;
//       }
//       .play-button {
//         margin-right: 10px;
//       }
//     }
//     .button-primary {
//       margin-top: 50px;
//     }
//   }
//   video {
//     height: 100%;
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     -webkit-transform: translateY(-50%) translateX(-50%);
//     transform: translateY(-50%) translateX(-50%);
//     display: none;
//     @media (min-width: $bp-medium) {
//       width: 100%;
//       height: auto;
//       display: block;
//     }
//   }
// }
//
// .features-banner, .partners-banner, .team-banner, .announcement-banner {
//   text-align: center;
//   padding: 20px;
//   background: #f9f9fb;
//   &.partners-banner, &.team-banner {
//     background: transparent;
//   }
//   &.announcement-banner {
//     p {
//       width: 100%;
//       margin: 0;
//     }
//   }
//   .content-group {
//     align-items: center;
//     margin: 50px 0;
//     .team-container {
//       &:nth-child(even) {
//         margin: 0;
//       }
//     }
//     @media (min-width: $bp-medium) {
//       text-align: center;
//       align-items: flex-start;
//       li:nth-child(2n) {
//         margin: 0 50px;
//       }
//       li {
//         width: 33%;
//       }
//       &.wrap-row {
//         display: block;
//         li {
//           display: block;
//           width: 100%;
//         }
//       }
//     }
//     .icon {
//       margin: 20px auto;
//     }
//   }
// }
//
// .usecases-banner {
//   .content-group {
//     margin: 50px 0;
//     padding: 20px;
//     h2 {
//       text-align: center;
//     }
//     @media (min-width: $bp-medium) {
//       img {
//         max-width: 100%;
//         margin-left: 100px;
//       }
//       &:nth-child(even) {
//         flex-direction: row-reverse;
//         img {
//           margin: 0 100px 0 0;
//         }
//       }
//     }
//   }
// }
//
// .table {
//   border-collapse: collapse;
//   width: 100%;
//   margin: 40px 0;
//   tr {
//     -moz-transition: $transition-default;
//     -webkit-transition: $transition-default;
//     transition: $transition-default;
//     &:hover {
//       background: #f9f9fb;
//     }
//
//   }
//   th, td {
//     text-align: left;
//     padding: 10px 20px;
//     border-bottom: 1px solid #e0e0e0;
//   }
// }
//
// .get-started-banner {
//   color: #fff;
//   padding: 20px 0;
//   text-align: center;
//   background: #1D3649;
//   .button-primary {
//     margin-top: 50px;
//   }
// }
//
// .site-footer {
//   text-align: center;
//   font-size: 12px;
//   padding: 50px 0;
// }
//
// // Modals
// .modal {
//   position: fixed;
//   top: 0;
//   z-index: 200;
//   height: 100%;
//   width: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background: rgba(0,0,0,.85);
//   .icon-close {
//     text-indent: -999px;
//     position: absolute;
//     overflow: hidden;
//     top: 20px;
//     right: 20px;
//   }
//   .embed-container {
//     max-width: 1280px;
//     margin: 60px auto;
//     border: 1px solid $color-text-systemml;
//   }
//   iframe,
//   embed,
//   object {
//     max-width: 100%;
//   }
// }
