.button-primary {
  color: #fff;
  background: $color-systemml-accent;
  border-color: $color-systemml-accent;
  @include border-radius(3px);
  &:hover {
    background: $color-systemml-accent-dark;
    border-color: $color-systemml-accent-dark;
  }
}

.button-secondary {
  color: #fff;
  background: $color-systemml-accent2;
  border-color: $color-systemml-accent2;
  @include border-radius(3px);
  &:hover {
    background: $color-systemml-accent2-dark;
    border-color: $color-systemml-accent2-dark;
  }
}

.button-center {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#award {
  background-image: url("/assets/img/mobile-award.png");
  background-size: 167px 47px;
  width: 167px;
  height: 47px;
  margin-bottom: 2em;

  @media (min-width: 64em) {
    background-image: url("/assets/img/award.png");
    background-size: 170px 100px;
    width: 170px;
    height: 100px;
  }
}
