.button-primary {
  color: #fff;
  background: $color-systemml-accent;
  border-color: $color-systemml-accent;
  @include border-radius(3px);
  &:hover {
    background: $color-systemml-accent-dark;
    border-color: $color-systemml-accent-dark;
  }
}
