@import 'layout/index';

// constrain content width to 1024px
.ml-container {
  @include container(64em);
  padding: 2em;

  &--narrow{
    width: 40em;
    padding: 0;
    margin: auto;
  }

  &--medium-width{
    width: 64em;
  }
  &--vertically-centered {
    display: table;
    table-layout: fixed;

    .col {
      display: table-cell;
      float: none;
      vertical-align: middle;
    }
  }
}

// separator
.border {
  border-bottom: 1px solid #e0e0e0;
}

// grid system for content
.col {
  &-1 {
    @include span(1 of 12);
  }
  &-2 {
    @include span(2 of 12);
  }
  &-3 {
    @include span(3 of 12);
  }
  &-4 {
    @include span(4 of 12);
  }
  &-6 {
    @include span(6 of 12);
  }
  &-8 {
    @include span(8 of 12);
  }
  &-9 {
    @include span(9 of 12);
  }
  &-12 {
    @include span(12 of 12);
  }
}

.block-content {
  &--center{
    text-align: center;
    h3, p{
      margin-top: 1em;
    }
  }
}

.block-heading {
  text-align: center;
}

.button-group {
  a{
    margin: 0 1em 0 0;
  }
}

// content styling
.content-group {
  // default styling mobile first
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  p {
    margin: 0 0 1em 0;
  }


  // tablet and web styling
  @media (min-width: $bp-medium) {
    text-align: left;
    flex-direction: row;
  }

  .wrap {
    display: block;
  }

  .icon-announcement {
    margin: 0 10px 0 0;
  }
}

.profile {
  @include gallery(4 of 12);
  margin-bottom: 1.953125%;
}

.content-g {
  @include clearfix;
  &.contribute {
    display: flex;
  }
}


.content {
  @include span(4 of 12);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.steps {
  ol{
    list-style: none;
  }
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $color-systemml-accent2;
  color: white;
  text-align: center;
  line-height: 35px;
  display: inline-block;
}
