@import 'layout/index';

// constrain content width to 1280px
.ml-container {
  @include container(80em);
  margin: 5em auto;

  &--section-end{
    padding-bottom: 4em;
    border-bottom: 1px solid #e0e0e0;
  }
}

// alternate background color
.background-stripe{
  &:nth-child(even) {
    background-color: #f9f9fb;
  }
}

// content styling
.content-group {
  // default styling mobile first
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  p {
    margin: 0 0 1em 0;
  }


  // tablet and web styling
  @media (min-width: $bp-medium) {
    text-align: left;
    flex-direction: row;
  }

  // grid system for content
  .content-text {
    &--col-2 {
      @include span(2 of 12);
    }
    &--col-3 {
      @include span(3 of 12);
    }
    &--col-4 {
      @include span(4 of 12);
    }
    &--col-6 {
      @include span(6 of 12);
    }
    &--col-8 {
      @include span(8 of 12);
    }
    &--col-9 {
      @include span(9 of 12);
    }
    &--col-12 {
      @include span(12 of 12);
    }

  }

  .button-group {
    a{
      margin-right: 1em;
    }
  }
  .wrap {
    display: block;
  }

  .icon-announcement {
    margin: 0 10px 0 0;
  }



}

.profile {
  @include gallery(4 of 12);
  display: flex;
  margin-bottom: 1.953125%;
  align-items: center;
  &--img {
    &:first-child {
      margin-right: 1em;
    }
  }
}

.content-g {
  @include clearfix;
  &.contribute {
    display: flex;
  }
}


.content {
  @include span(4 of 12);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.steps {
  ol{
    list-style: none;
  }
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $color-systemml-accent2;
  color: white;
  text-align: center;
  line-height: 35px;
  display: inline-block;
  margin-right: 1em;
}
