.profile {
  text-align: center;
  margin-bottom: 2em;
  &--img {
    border-radius: 100%;;
    width: 5.5em;
  }
  &--name {
    font-size: 18px;
  }
  &--info,
  &--info a {
    font-weight: $font-weight-medium;
    color: #313131;
    li {
      line-height: 1.4;
      font-weight: $font-weight-light;
    }
  }
}

.content {
  text-align: center;
  h1, h2, h3 {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 1em;
  }
  p {
    margin-bottom: 2em;
  }
  a {
    display: inline;
  }
}

.link-list {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
  li {
    margin: .75em;
  }

  @media (min-width: 75em) {
    li {
      margin: 0 2em;
    }
  }
}

.feature-content{
  h2 {
    font-size: 2em;
  }
  p {
    font-size: 1.125em;
  }

  a {
    margin-top: 1.5em;
  }
  &--center{
    text-align: center;
  }
}

.preview-image {
  text-align: center;
  img{
    width: 500px;
  }
}

.bullet-pointless {
  padding: 0;
  margin: 0;
  list-style: none;
}

// bigger text for featured content
.feature-content{
  h2 {
    font-size: 2em;
  }
  p {
    font-size: 1.125em;
  }

  a {
    margin-top: 1.5em;
  }
  &--center{
    text-align: center;
  }

  &--more-padding{
    padding: 0 3.5em;
  }
}

.coming-soon {
  filter: blur(5px) grayscale(80%);
}

.preview-image {
  text-align: center;
  img{
    width: 500px;
  }
}

//Responsive Video Embed
.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
