<section class="full-stripe full-stripe--alternate full-stripe--center">
  <div class="ml-container">
    <ul class="link-list bullet-pointless">
      <li><a class="icon icon-youtube" href="https://www.youtube.com/channel/UCQwUHIc5SjqNIppUH6xbxXQ"></a></li>
      <li><a class="icon icon-github" href="{{ site.data.project.source_repository_mirror }}"></a></li>
      <li><a class="icon icon-twitter" href="https://twitter.com/ApacheSystemML"></a></li>
      <li><a class="icon icon-medium" href="https://medium.com/@apachesystemmlvideos"></a></li>
    </ul>
    <p>To contribute code to SystemML, you can contact us directly at <a href="mailto:dev@systemml.incubator.apache.org">dev@systemml.incubator.apache.org</a></p>
  </div>
</section>
