<!--
{% comment %}
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to you under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
-->
<section class="full-stripe">
  <div class="ml-container ml-container--vertically-centered">
    <div class="col col-6 feature-content feature-content--more-padding">
      <h2>What is SystemML?</h2>
      <p>Apache SystemML provides an optimal workplace for machine learning using big data.
        It can be run on top of Apache Spark, where it automatically scales your data, line by line,
        determining whether your code should be run on the driver or an Apache Spark cluster.</p>
    </div>
    <div class="col col-6 preview-image feature-content feature-content--more-padding">
      <img src="/assets/img/diagramAnim-v4.gif" alt="What is Apache SystemML?">
    </div>
  </div>
</section>
