<section class="content-container content-group elevator-group">
  <div class="content-text elevator-text">
    <h2>What is SystemML</h2>
    <p>Apache SystemML provides an optimal workplace for machine learning using big data.Apache SystemML can be run on top of Apache Spark, where it automatically scales your data, line by line, determining whether your code should be run on the driver or an Apache Spark cluster. Users no longer need to learn about complicated code or scaling. Apache SystemML also understands that the user's priority lies with math and algorithms. That's why Apache SystemML runs in R and Python-like syntax, allowing the user to focus on machine learning, rather than the engineering behind it.<br /><a class="jq-modal-trigger" href="#systemml-demo">Watch Apache SystemML in action</a></p>
  </div>
  <img src="/assets/img/what-is-systemml.png" alt="What is Apache SystemML?" />
</section>

<div id="systemml-demo" class="modal jq-modal">
  <a href="#" class="icon icon-close jq-close">Close</a>
  <div class='embed-container'>
    <iframe class="jq-video" width="1280" height="720" src="https://www.youtube.com/embed/n3JJP6UbH6Q?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
