<!--
{% comment %}
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to you under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
-->

<!-- background image -->
<section class="full-stripe full-stripe--video">
  <!-- container -->
  <div class="ml-container ml-container--horizontally-center ml-container--halfway">
    <div class="col col-12 content-group">
      <h1>Apache SystemML</h1>
      <p>A machine learning platform optimal for big data.</p>
    </div>
    <div class="col col-12 content-group button-group">
      <a class="button button-primary" href="download.html">Download SystemML</a>
    </div>
  </div>
</section>

<!-- <section class="hero-banner hero-home">
  <div class="banner-overlay">
    <div class="banner-content">
      <h1>Apache SystemML</h1>
      <p>A machine learning platform optimal for big data.</p>
      <a class="video-link jq-modal-trigger" href="#introduction"><i class="icon play-button"></i>Introduction to Apache SystemML</a> -->
      <!-- <a class="button button-primary" href="download.html">Download SystemML</a>
    </div>
  </div>
  <video src="/assets/media/hero.mp4" autoplay loop></video>
</section> -->
