<!--
{% comment %}
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to you under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
-->
<section class="full-stripe">
  <div class="ml-container">
    <div class="content">
      <h2>Contribute to {{ site.data.project.short_name }}</h2>
      <p>You can find all of {{ site.data.project.name }}’s code on Github, including example notebooks. Fork it, try it out and contribute yourself.</p>
      <a href="mailto:{{ site.data.project.dev_list_subscribe }}?subject=send this email to subscribe">Subscribe</a>
      <a href="mailto:{{ site.data.project.dev_list_unsubscribe }}?subject=send this email to unsubscribe">Unsubscribe</a>
      <a href="{{ site.data.project.dev_list_archive_mailarchive }}">Archive</a>
    </div>
    <div class="content">
      <h2>To commit messages and patches to {{ site.data.project.short_name }}</h2>
      <p>Keep track of the daily updates going on with {{ site.data.project.short_name }} and start your own Jira to note issues and bugs you come across, acting as part of the SystemML community.</p>
      <a href="mailto:{{ site.data.project.commits_list_subscribe }}?subject=send this email to subscribe">Subscribe</a>
      <a href="mailto:{{ site.data.project.commits_list_unsubscribe }}?subject=send this email to unsubscribe">Unsubscribe</a>
      <a href="{{ site.data.project.commits_list_archive_mailarchive }}">Archive</a>

    </div>
    <div class="content">
      <h2>To issues workflow notifications to {{ site.data.project.short_name }}</h2>
      <p>Because {{ site.data.project.name }} is open source, all changes are documented in the mailing list. Sign up today to be updated on all of the changes happening.</p>
      <a href="mailto:{{ site.data.project.issues_list }}">Subscribe</a>
      <a href="mailto:{{ site.data.project.issues_list_unsubscribe }}?subject=send this email to unsubscribe">Unsubscribe</a>
      <a href="{{ site.data.project.issues_list_archive_mailarchive }}">Archive</a>
    </div>
  </div>
</section>
