<!--
{% comment %}
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to you under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
-->


<section class="full-stripe full-stripe--alternate">
  <div class="ml-container ml-container--horizontally-center">
    <!-- content -->
    <div class="col col-12 content-group ">
      <h2>Subscribe to Our Mailing Lists</h2>
      <p>Subscribe to our development mailing list for SystemML updates and news. Once subscribed, <a href="mailto:{{ site.data.project.dev_list }}">join the conversation</a>.
      As SystemML grows, so will our community. Check out <a href="community.html#mailing-list">All Mailing Lists</a>.
      </p>
    </div>
    <div class="col col-12 content-group button-group">
      <a href="mailto:{{ site.data.project.dev_list_subscribe }}?subject=send this email to subscribe" class="button button-primary">Subscribe</a>
      <a href="http://mail-archives.apache.org/mod_mbox/incubator-systemml-dev/" target="_blank" class="button button-secondary">View Archive</a>
    </div>
  </div>
</section>
