<section class="full-stripe full-stripe--alternate">
  <h2 class="block-heading">Features</h2>
  <div class="ml-container">

    <!-- Icon 1 -->
    <div class="col-4 block-content block-content--center">
      <!-- icon -->
      <span class="icon icon--data"></span>
      <!-- header -->
      <h3>Big Data</h3>
      <!-- description -->
      <p>SystemML relieves big data stress by automatically scaling, so users can focus on what’s important.</p>
    </div>

    <!-- Icon 2 -->
    <div class="col-4 block-content block-content--center">
      <!-- icon -->
      <span class="icon icon--code"></span>
      <!-- header -->
      <h3>Language</h3>
      <!-- description -->
      <p>Use R and Python-like Syntax to code your machine learning project.</p>
    </div>

    <!-- Icon 3 -->
    <div class="col-4 block-content block-content--center">
      <!-- icon -->
      <span class="icon icon--math"></span>
      <!-- header -->
      <h3>High-Level Math</h3>
      <!-- description -->
      <p>SystemML provides a platform where the user can easily implement high level math and algorithms.</p>
    </div>

  </div>
</section>
