<!--
{% comment %}
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to you under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
-->

<!-- gray background -->
<section class="full-stripe full-stripe--alternate">
  <div class="ml-container">
    <!-- award image-->
    <div class="col col-4 content-group content-group--center-content award">
      <!-- Make link clickable -->
      <!-- <a href="http://vldb2016.persistent.com/awards.php"></a> -->
    </div>

    <div class="col col-8 content-group content-group--center-align">
      <h3>VLDB 2016 Best Paper and Demonstation</h3>
      <p>Read Compressed Linear Algebra for Large-Scale Machine Learning.<a href="http://www.vldb.org/pvldb/vol9/p960-elgohary.pdf" target="_blank"> Download Paper</a></p>
    </div>

  </div>
</section>
