<section class="full-stripe full-stripe--alternate">
  <div class="ml-container ml-container--narrow">
    <div class="col-4 content">
      <img src="/assets/img/award.svg" alt="VLDB Best Paper 2016">
    </div>
    <div class="col-8">
      <h3><a href="http://vldb2016.persistent.com/awards.php" target="_blank">VLDB 2016 Best Paper and Demonstation</a></h3>
      <p>Read Compressed Linear Algebra for Large-Scale Machine Learning.<a href="http://www.vldb.org/pvldb/vol9/p960-elgohary.pdf" target="_blank"> Download Paper</a></p>
    </div>
  </div>
</section>
