<section class="features-banner">
  <div class="ml-container">
    <h2>Features</h2>
    <ul class="content-group">
      <li>
        <i class="icon icon-data"></i>
        <h3>Big Data</h3>
        <p>SystemML relieves big data stress by automatically scaling, so that the user can focus on what’s important.</p>
      </li>
      <li>
        <i class="icon icon-code"></i>
        <h3>Language</h3>
        <p>Use R and Python-like Syntax to code your machine learning project.</p>
      </li>
      <li>
        <i class="icon icon-math"></i>
        <h3>High-Level Math</h3>
        <p>SystemML provides a platform where the user can easily implement high level math and algorithms.</p>
      </li>
    </ul>
  </div>
</section>
