<section class="full-stripe full-stripe--alternate">
  <div class="ml-container ml-container--vertically-centered">
    <div class="col col-6 feature-content preview-image">
      <img src="/assets/img/robotTutorial.png" alt="What is Apache SystemML?">
    </div>
    <div class="col col-6 feature-content">
      <h2>Get Started</h2>
      <p>New to Apache SystemML? Try our Get Started tutorial that will walk you through setting up your environment and getting you up and going with SystemML.</p>
      <a class="button button-primary" href="get-started.html">Begin Tutorial</a>
    </div>
  </div>
</section>
