<!--
{% comment %}
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to you under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
-->
<section class="full-stripe full-stripe--alternate">
  <div class="ml-container feature-content">
    <h2 class="full-stripe--center">Subscribe to Our Mailing Lists</h2>
    <p class="full-stripe--center">For SystemML updates and news, subscribe to our mailing lists. As SystemML grows, so will our community.</p>
    <div class="content">
      <h2>Developer list</h2>
      <p>User questios, design discussions, and other {{ site.data.project.short_name }} related items are discussed on the dev mailling list.</p>
      <a href="mailto:{{ site.data.project.dev_list_subscribe }}?subject=send this email to subscribe">Subscribe</a>
      <a href="mailto:{{ site.data.project.dev_list_unsubscribe }}?subject=send this email to unsubscribe">Unsubscribe</a>
      <a href="{{ site.data.project.dev_list_archive_mailarchive }} " target="_blank">Archive</a>
    </div>
    <div class="content">
      <h2>Issues list</h2>
      <p>JIRA notifications are sent to this list when issues are created, modified or pull requests are submitted.</p>
      <a href="mailto:{{ site.data.project.issues_list }}">Subscribe</a>
      <a href="mailto:{{ site.data.project.issues_list_unsubscribe }}?subject=send this email to unsubscribe">Unsubscribe</a>
      <a href="{{ site.data.project.issues_list_archive_mailarchive }} " target="_blank">Archive</a>
    </div>
    <div class="content">
      <h2>Commits list</h2>
      <p>Notifications with code diffs are sent to this list when changes are committed to the SystemML source tree.</p>
      <a href="mailto:{{ site.data.project.commits_list_subscribe }}?subject=send this email to subscribe">Subscribe</a>
      <a href="mailto:{{ site.data.project.commits_list_unsubscribe }}?subject=send this email to unsubscribe">Unsubscribe</a>
      <a href="{{ site.data.project.commits_list_archive_mailarchive }} " target="_blank">Archive</a>
    </div>
  </div>
</section>