<!--
{% comment %}
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to you under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
-->
<section class="full-stripe">
    <h2 class="block-heading">SystemML Use Cases</h2>
    <div class="ml-container ml-container--narrow border">
        <div class="col-8 feature-content">
          <h3>Automotive</h3>
          <p>SystemML was used for big data needs in an automotive use case focusing on customer satisfaction where 2 million cars, 10 million repair cases and 25 million part exchanges were considered, using sequence mining, logistic regression and intermediate result sequences.</p>
        </div>
        <div class="col-4">
          <img src="/assets/img/automotive.png" alt="SystemML for the automitve industry" />
        </div>
    </div>

    <!-- 2nd row -->
    <div class="ml-container ml-container--narrow border">
      <div class="col-4">
        <img src="/assets/img/airport-traffic.png" alt="SystemML improves Airport Traffic" />
      </div>
      <div class="col-8 feature-content">
        <h3>Airport Traffic</h3>
        <p>With airports getting more and more congested, researchers used SystemML to predict passenger volumes at various airport locations. With a very large data set, researchers were able to create multiple models per location and per passenger time, while developing a time-series analysis on the change of seasons.</p>
      </div>
    </div>

    <!-- 3rd row  -->
    <div class="ml-container ml-container--narrow">
      <div class="col-8 feature-content">
        <h3>Social Banking</h3>
        <p>Researchers decided to look at social media data linked to bank data in order to identify customer segments of interest, find predictors of what people would want to purchase and gauge sentiment towards bank products. Using SystemML, they were able to do this using bivariate odds ratios and binomial proportions with confidence intervals.</p>
      </div>
      <div class="col-4">
        <img src="/assets/img/social-banking.png" alt="SystemML for Social Banking" />
      </div>
    </div>

</section>
