<section class="full-stripe">
  <div class="ml-container ml-container--vertically-centered">
    <div class="col col-6 feature-content">
      <h2>What is SystemML?</h2>
      <p>Apache SystemML provides an optimal workplace for machine learning using big data.
        It can be run on top of Apache Spark, where it automatically scales your data, line by line,
        determining whether your code should be run on the driver or an Apache Spark cluster.</p>
    </div>
    <div class="col col-6">
      <img src="/assets/img/systemML_Diagram.gif" alt="What is Apache SystemML?">
    </div>
  </div>
</section>
