name: Build website

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '*.md'
  pull_request:
    paths-ignore:
      - '*.md'
    branches: [ master ]
  # enable manual workflow trigger
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Build the site in the jekyll/builder container
        uses: actions/setup-node@v2.1.5
        with:
          # Set always-auth in npmrc
          always-auth: false # optional, default is false
          # Version Spec of the version to use.  Examples: 12.x, 10.15.1, >=10.15.0
          node-version: 14.x # optional
          # Target architecture for Node to use. Examples: x86, x64. Will use system architecture by default.
          architecture: x64
      - run: |
          echo "building systemds website"
          sudo gem install jekyll
          sudo npm install -g gulp
          npm install
          gulp build

